<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>User DashBoard</title>
</head>
    <body>
        <section>

                <div class="card ml-2 mr-2">
                    <div class="card-body text-center ">
                        <img class="user_home_page_logo" style="height:150px; width:150px;" th:src="@{/img/contact_logo_1.png}" src="#" alt="">

                        <h1 class="text-secondary font-italic font-weight-light" >
                            Start Adding Contact To DataBase..
                        </h1>

                        <div class="container">
                            <span>
                                Contact management is essential for keeping digital records of customer data.
                                Contact management is the process of storing and tracking data on customers and
                                leads. In addition to providing quick access to customer data, investing in
                                contact management can help you grow and diversify your customer base.
                            </span>
                        </div>

                        <a th:href="@{/user/add-contact}" href="#" class=" btn btn-primary btn-lg active mt-3" role="button" aria-pressed="true">Add Contact Here</a>

                    </div>
                </div>
        </section>
    </body>
</html>