<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <section>
            <h1>This is About Page of smart contact manager </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus enim et explicabo in mollitia necessitatibus
                tempore tenetur voluptas! Ab aliquam atque debitis ea expedita facilis laborum quam quis quos sequi. Culpa ipsum
                iusto minima mollitia non quas recusandae soluta temporibus! Cupiditate dolore dolorum nulla, optio quas
                quisquam quos tempora? Distinctio.</p>
        </section>
    </body>
</html>