<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
        <section class="banner d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h1 class="font-weight-bold">Smart Contact Manager</h1>
                <p>
                    Start Collecting your contact in very smarter way.
                    We provide very efficient and smarter way of handling
                    contacts.
                </p>
                <button class="btn bg-primary btn-lg text-white">Get Start</button>
            </div>
        </section>
    </body>
</html>